<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>D3Times</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/d3Style.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/d3Style.css')}}">

</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron jumbotron-fluid text-center text-white transparent">
        <h1>D3 Times</h1>
        <p>An U.S. Census Bureau and the Behavioral Risk Factor Surveillance System Study</p>
        <p>The data set is based on
          <a href="https://factfinder.census.gov/faces/nav/jsf/pages/searchresults.xhtml">
            2014 ACS 1-year estimates.</a>
        </p>
        <p>This dataset includes data on income level, obesity and poverty by state.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div id="scatter">
          <!-- We append our chart here. -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12  col-md-9">
        <div class="article">
          <h2 class="text-blue">Discussion</h2>
          <p><strong>Obesity:</strong> Overall obesity seems to be significantly higher where median income
            levels are lower, we see a similar pattern with poverty. Obesity is higher where median age is
            in the range 34 through 45.</p>
          <p><strong>Smokers:</strong> Pretty much a similar pattern, states with lower median income
            consequently higher poverty rate have larger percentage of smokers. Kentucky and West Virginia
            have an unsually high smokers.</p>
          <p><strong>Lack of Healthcare:</strong> Generally there is a about 15 % of the population in US
            who do have healthcare. However poverty and median income does not seem to have a direct corrrelation
            to lack of healthcare!! Texas, not an impoverished state and has a median income of $50K but
            significantly high percentage (24.9%) in lack of healthcare and lower on obesity percentage(31.9%).
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer-->
  <div id="footer">
    <p class="text-muted">Indira V. Poovamur&copy;2019</p>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js')}}"></script>

</body>

</html>